@{
    List<Admin.Category> cats = ViewBag.cats;
    cats = (cats == null) ? new List<Admin.Category>() : cats;

    Admin.Category cat = ViewBag.cat;
    cat = (cat == null) ? new Admin.Category() : cat;

    List<Admin.Job> listings = ViewBag.listings;
    listings = (listings == null) ? new List<Admin.Job>() : listings;
    
    string msg = ViewBag.msg;
    msg = (msg == null) ? "" : msg;
    
    ViewBag.Title = "Edit " + cat.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @cat.name</h2>

@if (msg.Length > 0) {
    <p class="err">@msg</p>
}

<form action="/Admin/Categories/Save/@cat.id" method="post" class="input_form">
    <div class="left_col">
        <label for="name">
            Name
            <input type="text" name="name" id="name" placeholder="Enter the name of the category" value="@((ViewBag.name == null)?cat.name:ViewBag.name)" />
        </label>

        <label for="short_desc">
            Short Description
            <input type="text" name="short_desc" id="short_desc" placeholder="Enter a brief description of the category" value="@((ViewBag.short_desc == null)?cat.short_desc:ViewBag.short_desc)" />
        </label>

        <label for="long_desc">
            Long Description
            <textarea cols="80" rows="5" name="long_desc" id="long_desc" placeholder="Enter a full description of the category">@((ViewBag.long_desc == null)?cat.long_desc:ViewBag.long_desc)</textarea>
        </label>

        <label for="parent">
            Parent Category
            <select name="parent" id="parent">
                <option value="@System.Guid.Empty">- Select Parent Category -</option>
                @foreach (Admin.Category c in cats) {
                    if (c.id != cat.id) {
                        <option value="@c.id" @((c.id == cat.parent) ? "selected=selected" : "")>@c.name</option>
                    }
                }
            </select>
        </label>

        <input type="submit" name="btnSubmit" id="btnSubmit" value="" />
    </div>
    <div class="right_col">
        <h4>Job Listings</h4>
        @if (listings.Count > 0) {
            <ul>
                @foreach (Admin.Job job in listings) {
                    <li>@job.title</li>
                }
            </ul>
        } else {
            <p>No Listings Available</p>
        }
    </div>
    <div class="clearfix"></div>
</form>
